* {
  padding: 0;
  margin: 0;
}

body {
  width: 300px;
  background-color: #d2d7db;
}
.seek {
  width: 100%;
}
.volume {
  width: 40%;
}
.card {
  -webkit-box-shadow: 5px 8px 11px -6px rgba(102, 64, 64, 1);
  -moz-box-shadow: 5px 8px 11px -6px rgba(102, 64, 64, 1);
  box-shadow: 5px 8px 11px -6px rgba(102, 64, 64, 1);
  margin: 14px;
  padding: 4px;
  background-color: white;
  transition: 0.2s;
}
.card:hover {
  -webkit-box-shadow: 5px 8px 13px -2px rgba(102, 64, 64, 0.66);
  -moz-box-shadow: 5px 8px 13px -2px rgba(102, 64, 64, 0.66);
  box-shadow: 5px 8px 13px -2px rgba(102, 64, 64, 0.66);
  transition: 0.3s;
}
.card.play {
  -webkit-box-shadow: 5px 8px 11px -4px rgba(161, 47, 47, 1);
  -moz-box-shadow: 5px 8px 11px -4px rgba(161, 47, 47, 1);
  box-shadow: 5px 8px 11px -4px rgba(161, 47, 47, 1);
}
.card.play:hover {
  -webkit-box-shadow: 5px 8px 13px -2px rgba(161, 47, 47, 1);
  -moz-box-shadow: 5px 8px 13px -2px rgba(161, 47, 47, 1);
  box-shadow: 5px 8px 13px -2px rgba(161, 47, 47, 1);
}
.play input:nth-child(3) {
  background: rgb(221, 255, 206);
  color: rgb(0, 0, 0);
}

.pause input:nth-child(4) {
  background: rgb(204, 124, 124);
  color: white;
}
.control-btn {
  width: 20px;
  margin: 2px;
  background: rgb(182, 184, 153);

}
